<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

    <!-- Fill in these settings to use service principal authentication -->
    <!-- Add tenant-name, application-id and application-secret for confidential AAD application -->
    <add key="tenant-name" value="" />
    <add key="confidential-application-id" value="" />
    <add key="confidential-application-secret" value="" />

    <!-- Fill in these settings to use user authentication -->
    <!-- Add application-id and redirect-uri url for public AAD application -->
    <add key="public-application-id" value="" />
    <add key="redirect-uri" value="http://localhost" />

    <!-- Add folder path for location to save exported report files -->
    <add key="export-folder-path" value="C:\DevCamp\ExportReportToFile\Exports\" />


  </appSettings>
</configuration>