<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

    <!-- Add AppId and RedirectUri for public Azure AD application for auth as user -->
    <add key="public-application-id" value="11111111-1111-1111-1111-111111111111" />
    <add key="redirect-uri" value="http://localhost" />


    <!-- Add TenantName, AppId and AppSecret for confidential Azure AD application for auth as service principal -->
    <add key="tenant-name" value="22222222-2222-2222-2222-222222222222" />
    <add key="confidential-application-id" value="33333333-3333-3333-3333-333333333333" />
    <add key="confidential-application-secret" value="YOUR_APP_SECRET_HERE=" />

    <!-- Add client-id and redirect-uri url for this application here -->
    <add key="export-folder-path" value="C:\DevCamp\ExportReportToFile\Exports\" />


  </appSettings>
</configuration>